<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http:///RootElement.ecore"
            class="RootElement.RootElementPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http:///RootElement/Datalayer.ecore"
            class="RootElement.Datalayer.DatalayerPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http:///RootElement/Buissnesslayer.ecore"
            class="RootElement.Buissnesslayer.BuissnesslayerPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http:///RootElement/Interactionlayer.ecore"
            class="RootElement.Interactionlayer.InteractionlayerPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http:///RootElement/BuisnessLogicLayer.ecore"
            class="RootElement.BuisnessLogicLayer.BuisnessLogicLayerPackage"/>
   </extension>

</plugin>
